.terminal-backdrop {
    height: 100vh;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;

    font-family: 'Fira Sans', sans-serif;
}


.terminal-banner {
    padding: 0 50px 0 50px;
    white-space: break-spaces;
    font-size: calc(1vw + 7px);
    font-weight: 900;
    color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
}

.terminal-header {
    display: flex;
    font-size: calc(0.3vw);
    font-weight: 900;
    color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
}

.gitHub-logo {
    text-shadow: 0 0 10px whitesmoke;
    font-weight: 900;
    color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
}
.linkedIn-logo {
    text-shadow: 0 0 10px whitesmoke;
    font-weight: 900;
    color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;  
}
.mail-logo {
    text-shadow: 0 0 10px whitesmoke;
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 0 0 5px whitesmoke;
}

.subText-typing {
    padding: 0 0 0 50px;
    /* padding-bottom: 40px; */
    font-size: calc(1vw + 7px);
    font-weight: 900;
    color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
}

.explain-typing {
    padding-left: 50px;

    font-size: calc(1vw + 7px);
    font-weight: 900;
    color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
}

.input-area {
    padding: 20px 0 0 50px;
}

.input-prompt {
    color: greenyellow;
    padding-right: 5px;
}