.terminal-backdrop {
    /* height: 100vh;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;

    font-family: 'Fira Sans', sans-serif;  */
}


.terminal-banner {
    padding: 0 50px 0 50px;
    margin: 0;
    white-space: break-spaces;
    font-size: calc(1vw + 7px);
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 0 0 5px whitesmoke;
}

.terminal-header {
    font-size: calc(0.3vw);
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 0 0 5px whitesmoke;
}

.terminal-input {
  color: whitesmoke;
  font-weight: 900;
  padding-right: 5px;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: 0px;
  outline: none; /* no highlight on focus */
  width: 100%;
}

.terminal-output {
  padding: 20px 20px 0 50px;
  color: whitesmoke;
  font-weight: 900;
}

.logo-container {
      display: flex;
      padding-left: 45px;
      align-items: flex-end;
}

.gitHub-logo {
    font-size: 4px;
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 0 0 5px whitesmoke;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gitHub-logo:hover {
    font-weight: 900;
    /* color: #00ff00; */
    text-shadow: 0 0 15px #00ff00;
    cursor: pointer;
}

.linkedIn-logo {
  font-size: 6px;
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 0 0 5px whitesmoke;  

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.linkedIn-logo:hover {
    font-weight: 900;
    /* color: #0073b1; */
    text-shadow: 0 0 15px #0072b1;  
    cursor: pointer;
}

.mail-logo {
  font-size: 7px;
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 0 0 5px whitesmoke;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mail-logo:hover {
    /* font-size: 4px; */
    font-weight: 900;
    /* color: #BB001B; */
    text-shadow: 0 0 15px #BB001B;
    cursor: pointer;
}

.subText-typing {
    padding: 0 0 0 50px;
    font-size: calc(1vw + 7px);
    font-weight: 900;
    color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
}

.explain-typing {
    padding-left: 50px;
    font-size: calc(1vw + 7px);
    font-weight: 900;
    color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
}

.input-area {
    padding: 20px 0 0 50px;
    display: flex;
}

.input-prompt {
    color: greenyellow;
}

.resume-container {
  margin-left: 50px;
  margin-top: 20px;
  font-size: calc(1vw + 7px);
  font-weight: 900;
}

.resume-link {
  padding: 20px 20 0 50px;
  color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
  text-decoration: none;
}
.resume-link:hover {
  color: whitesmoke;
  text-shadow: 0 0 5px rgb(72, 60, 139);
  text-decoration: none;
}