body {
    margin: 0;
    background-color: rgb(18, 18, 18);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body,
  html {

  }

  #root {
    height: 100%;

  }